@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 400;
  src: url(BenchNine.eot);
  src: local('BenchNine Regular'), local('BenchNine-Regular'),url('BenchNine.ttf') format('truetype'), url(BenchNine.eot) format('embedded-opentype'), url(BenchNine.woff) format('woff');
}
*{
margin:0;padding:0;
}
::-webkit-scrollbar {
direction:rtl;
background-color: rgb(192, 80, 77);
border:3px solid rgb(140, 56, 54);
border-right:0;
width: 20px;
}

::-webkit-scrollbar-thumb {
border-left:3px solid rgb(140, 56, 54);
background: rgb(149, 55, 53);
-webit-transition: all .3s ease-out;
transition: all .3s ease-out;
}

::-webkit-scrollbar-thumb:hover {
background: rgb(130, 46, 44);
}


*{margin:0;padding:0;}
a{color:#555;text-decoration:none;}
a:focus{outline:0;}
body{
	color:#555;
	font-family:BenchNine,Arial;
	background:url(bg.png) rgb(171,171,171);
}

#Everything{
position:relative;
width:1000px;
height:100%;
margin:0 auto;
}
/******************* The Header *******************/
#TheHeader{
position:relative;
height:50px;
background-color:#bbb;
background-image:url(bg.png);
-webkit-border-radius:0 0 15px 15px;
-moz-border-radius:0 0 15px 15px;
border-radius:0 0 15px 15px;
-webkit-box-shadow:0 0 5px #ccc;
-moz-box-shadow:0 0 5px #ccc;
box-shadow:0 0 5px #ccc;
margin-bottom:20px;
}
.TheLogo{
	position:absolute;
	left:15px;
	top:3px;
	width:230px;
	height:48px;
	background:url(logo.png) no-repeat;
}
#HeaderButtons{
	position:absolute;
	right:15px;
	top:16px;	
}

#HeaderButtons > a{
	line-height:20px;
	font-size:30px;
	cursor:pointer;
	margin-left:15px;
}
#HeaderButtons > a:hover{
	color:rgb(192,80,77);
}
/******************* The Body *******************/

.ABox{
	color:#fff;
	font-size:20px;
	float:left;
	overflow:hidden;
	z-index:2;
	position:relative;
	width:700px;
	height:450px;
	border:3px solid rgb(140,56,54);
	background:rgb(192,80,77);
	margin-left:10px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
}
#Donate{
display:none;
height:110px;	
margin-bottom:10px;
text-align:center;
}
#TheDocumentation,#TheDiscussion{
margin-top:30px;	
width:966px;
height:auto;
min-height:200px;
padding:0;
font-weight:normal;
color:#fff;
text-align:left;
}
#TheDocumentation > .DocContent{
padding:5px;	
text-shadow:1px 1px 1px rgb(120, 36, 34);
}
#TheDocumentation ul.DocSubText{
margin-left:15px;
margin-bottom:25px;
list-style:none;
}
#TheDocumentation .DocSubtitle{
font-size:24px;
color:rgb(129, 35, 33);
text-shadow:1px 1px 3px rgb(130, 46, 44);
}

#TheIndex{
	width:250px;
}
.ABox > .Title{
	font-weight:bold;
	color:#fff;
	background:rgb(149,55,53);
	margin-top:15px;
	padding:2px 0 2px 0;
	font-size:32px;
	text-align:center;
}
#TheIndex > .SubTitle{
	font-weight:bold;
	margin-top:5px;
	font-size:20px;
	color:#eee;
	background:rgb(166,63,60);
	padding:2px 0 2px 0;
}
#IndexItems{
height:393px;
overflow-y:auto;

}
#IndexItems > .Item{
	font-size:16px;
	cursor:pointer;
	text-indent:30px;
	text-align:left;
	margin-top:2px;
	margin-left:2px;
	margin-right:2px;
	color:#eee;
	padding:2px 0 2px 0;
	background-image:url(file.png);
	background-repeat:no-repeat;
	background-position:2px 9px;
	-webkit-transition:background 0.2s linear;
	-moz-transition:background 0.2s linear;
	transition:background 0.2s linear;

}

#IndexItems > .Item.Selected{
	background-color:rgb(177,66,63);
}
#IndexItems > .Item:hover{
	background-color:rgb(166,63,60);
}
#IndexItems > .Item > span+span{
	display:block;
	font-size:12px;
	color:rgb(217,150,148);
}


#TheShow{
	color:#fff;
	font-family:Arabic Transparent,Arial;
	position:relative;
	top:0px;
	width:100%;
	height:450px;
	overflow:hidden;
	-webkit-border-radius:13px;
	-moz-border-radius:13px;
	border-radius:13px;
}

#TheFooter{
	font-size:14px;
	width:100%;
	margin-top:10px;
	height:40px;
	text-align:center;
}

/******************** The Loader ********************/
.TheBoardLoader{
	text-align:center;
	position:absolute;
	left:50%;
	top:50%;
	width:250px;
	height:70px;
	margin-left:-125px;
	margin-top:-50px;
	padding-top:10px;
	color:rgb(129, 35, 33);
	background:rgb(182,70,67);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	-webkit-box-shadow:3px 3px 4px rgb(172,60,57); 
	-moz-box-shadow:3px 3px 4px rgb(172,60,57); 
	box-shadow:3px 3px 4px rgb(172,60,57); 
	}
.TheBoardLoader > div{
position:absolute;	
left:10px;
top:45px;
width:0px;
height:20px;
background:rgb(172,60,57);
}
.Code{
	padding:10px;
	background:rgb(164,46,43);
	font-size:24px;
	display:inline-block;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	text-shadow:1px 1px 1px #222;
}
/******************* The ToolTip *******************/
.TipArrow{
	position:absolute;
	left:50%;
	bottom:-14px;
	margin-left:-9px;
	width:19px;
	height:10px;
	background:url(TipArrow.png) 0px -2px no-repeat;
	z-index:1;
}
.TheTip{
	z-index:99999999;
	font-size:18px;
	font-weight:normal;
	color:rgb(45,57,83);
	text-align:center;
	position:absolute;
	line-height:30px;
	left:9px;
	top:10px;
	padding:5px;
	background:rgb(173,186,211);
	border:4px solid rgb(148,164,198);
	text-shadow:0px 1px 3px rgb(51,66,96);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

/******************* Standard Texts *******************/
.title{
color:#fff;
font-weight:bold;
font-size:35px;
text-align:center;
text-shadow:0 0 3px #fff;
}
.description{
white-space:nowrap;
color:#fff;
font-weight:normal;
font-size:16px;
direction:ltr;
text-align:left;
}
.description.ar{
direction:rtl;
text-align:right;
}
.center{
left:0;
width:100%;
text-align:center;	
}
.Button,.InputText{
text-decoration:none;
padding:10px;
min-width:50px;
font-size:14px;
display:block;
cursor: pointer;
text-align:center;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
color:#fff;
border:1px solid rgb(149,55,53);
background-color: rgb(149,55,53);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(149,55,53)), to(rgb(119,25,23)));
background-image: -moz-linear-gradient(rgb(149,55,53), rgb(119,25,23));
background-image: -webkit-linear-gradient(rgb(149,55,53), rgb(119,25,23));
background-image: -o-linear-gradient(rgb(149,55,53), rgb(119,25,23));
background: linear-gradient(top, rgb(149,55,53) 0%,rgb(119,25,23) 100%);
}
